body {
}

/*  --------------- Zone centre -------------*/

.plateau {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    background-image: url(resources/PlateauJeu.jpg);
    float: left;
    position: relative;
    height: 756px;
    width: 752px;
    z-index: 0;
}

.divEmplacementHabitatBas {
    float: left;
    width: 59px;
    height: 90px;
    border: 1px solid blue;
    position: absolute;
    bottom: 31px;
}

.divEmplacementCarteBas {
    float: left;
    width: 59px;
    height: 90px;
    border: 1px solid pink;
    position: absolute;
    bottom: 131px;
}

/* -----------------Zone Main--------------------*/

.divMain {
    background-color: dimgray;
    border: 1px solid #000000;
    margin-top: 10px;
    height: 726px;
    width: 300px;
    float: left;
    position: relative;
    padding: 15px;
}

.divCarte {
    width: 118px;
    height: 180px;
    z-index: 3;
}

.imageCarte {
    width: inherit;
    height: inherit;
}

.liMain {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 15px;
}

/* ------------------Zone droite------------------ */

.divDroite {
    background-color: deeppink;
    border: 1px solid blue;
    margin-top: 10px;
    height: 726px;
    width: 300px;
    float: left;
    position: relative;
    padding: 15px;
}

.buttonPasserTour {
    position: absolute;
    bottom: 30px;
    height: 40px;
    width: 290px;
}

.buttonProposerEchange {
    position: absolute;
    bottom: 75px;
    height: 40px;
    width: 290px;
}

.buttonDemarerNouvellePartie {
    position: absolute;
    bottom: 120px;
    height: 40px;
    width: 290px;
}
