body {
    background-color: #007480;
}

/*  --------------- Zone centre -------------*/

.plateau {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    background-image: url(ressources/PlateauJeu.jpg);
    float: left;
    position: relative;
    height: 753px;
    width: 752px;
    z-index: 0;
}

.divEmplacementHabitatBas {
    float: left;
    width: 59px;
    height: 90px;
    /*border: 1px solid blue;*/
    position: absolute;
    border-radius: 5px;
    bottom: 30px;
}

.divEmplacementCarteBas {
    float: left;
    width: 59px;
    height: 90px;
    /*border: 1px solid blue;*/
    position: absolute;
    border-radius: 5px;
    bottom: 131px;
}
.emplacementJoueurB {
    float: left;
    width: 59px;
    height: 90px;
    /*border: 1px solid pink;*/
    position: absolute;
}

.emplacementJoueurC {
    float: left;
    width: 90px;
    height: 59px;
    /*border: 1px solid green;*/
    position: absolute;
}

.emplacementJoueurD {
    float: left;
    width: 90px;
    height: 59px;
    /*border: 1px solid red;*/
    position: absolute;
}

.ui-droppable-hover {
    -moz-box-shadow: 0 0 15px 10px #fff;
    -webkit-box-shadow: 0 0 15px 10px #fff;
    box-shadow: 0px 0px 15px 10px #fff;
}

/* -----------------Zone Main--------------------*/

.divMain {
    background-color: dimgray;
    border: 1px solid #000000;
    margin-top: 10px;
    height: 723px;
    width: 300px;
    float: left;
    position: relative;
    padding: 15px;
}

.divCarte {
    width: 118px;
    height: 180px;
}

.imageCarte {
    width: inherit;
    height: inherit;
    z-index: 3;
}

.liMain {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 15px;
    table-layout: fixed;
    width: 118px;
    height: 180px;
    text-align:center;
}

/* ------------------Zone droite------------------ */

.divDroite {
    background-color: greenyellow;
    border: 1px solid blue;
    margin-top: 10px;
    height: 723px;
    width: 300px;
    float: left;
    position: relative;
    padding: 15px;
}

/*****Zone nom des joueurs*****/
.divNomJoueurs {
    border: double 4px black;
    padding: 2px;
    margin: 5px;
    width: 278px;
    height: 75px;
    text-align: center;
    position: absolute;
    top: 15px;
}

.titreEquipe {
    margin: 5px;
}

.listeUlEquipe{
    padding: 0px;
    margin: 5px;
}
.listeEquipe {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    float:left;
}

/*****Zone points des joueurs*****/
.divTextePointsJoueurs {
    border:dashed 3px black;
    text-align: center;
    margin: 5px;
    padding: 2px;
    width: 278px;
    height: 75px;
    position:absolute;
    top: 110px;
}

.titrePoint {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 3px;
}
.pointsEquipe {
    margin: 5px;
}

/*****Zone des points Ressources*****/
.divTextePointsRessource {
    border: groove 3px black;
    width: 278px;
    height: 40px;
    margin: 5px;
    padding: 2px;
    text-align: center;
    position: absolute;
    top: 215px; 
}

.titreRessource {
    margin:10px;
}

/*****Zone Message*****/
.divTexteMessageJeu {
    border: solid 3px black;
    padding: 2px;
    margin: 3px;
    background-color: white;
    position:absolute;
    bottom: 200px;
}

.titreMessage {
    text-align :center;
    margin: 3px;
}

.zoneMessage {
    width: 267px;
    height: 181px;
    resize: none;
    outline:none;
    overflow:auto;
    vertical-align: 90%;
    align-content:flex-end;
}
/*****Les boutons*****/
.buttonPasserTour {
    position: absolute;
    bottom: 30px;
    height: 50px;
    width: 150px;
}

.buttonProposerEchange {
    position: absolute;
    bottom: 90px;
    height: 40px;
    width: 150px;
}

.buttonOption {
    position: absolute;
    bottom: 30px;
    height: 40px;
    width: 75px;
    left: 240px;
}
